<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>jobhunter</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/loginpage.css"
	th:href="@{/css/loginpage.css}" />

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<h1>
			<a href="/"></a>
		</h1>

		<form class="form-signin form-inline" method="post"
			th:action="@{/signupsub1}">
			<br>
			<div class="img01">
				<img src="/image/signupflow2.png" style="width: 50%;" />
			</div>

			<div th:if="${param.error}" class="alert alert-warning">
				いずれかの項目にミスがあります。</div>


			<div class="form1 wbb">
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">ユーザID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="userid" name="userid"
							placeholder="(半角英数字)" autofocus="autofocus"
							required="required"  style="width:250px;"/>
					</div>
				</div>

				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">パスワード</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="password"
							name="password" placeholder="(半角英数8~12文字)"
							autofocus="autofocus" required="required"  style="width:250px;"/>
					</div>
				</div>
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">メールアドレス</label>
					<div class="col-sm-6">
						<input type="email" class="form-control" id="mailaddress"
							name="mailaddress" placeholder="(半角英数字)"
							autofocus="autofocus" required="required"  style="width:250px;" />
					</div>
				</div>
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">名前</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="name" name="name"
							placeholder="(全角文字)" autofocus="autofocus"
							required="required"  style="width:250px;"/>
					</div>
				</div>
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">学科</label>
					<div class="col-sm-6">
						<select class="form-control" id="gakka" name="gakka" autofocus="autofocus" required="required" style="width:250px;">
							<option>R</option>
							<option>S</option>
							<option>J</option>
							<option>M</option>
							<option>G</option>
							<option>P</option>
							<option>その他</option>
						</select>
					</div>
				</div>
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">学年</label>
					
					<div class="col-sm-6">
						<select class="form-control" id="gakunen" name="gakunen" autofocus="autofocus" required="required" style="width:250px;">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>その他</option>
						</select>
					</div>
				</div>
				
				<br /> <br />
				
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">クラス</label>
					
					<div class="col-sm-6">
						<select class="form-control" id="kurasu" name="kurasu" autofocus="autofocus" required="required" style="width:250px;">
							<option>A1</option>
							<option>A2</option>
							<option>その他</option>
						</select>
					</div>
				</div>
				<br /> <br />
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">番号</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="bangou" name="bangou"
							placeholder="例：01(半角数字2字)" autofocus="autofocus"
							required="required"  style="width:250px;" maxlength="2"/>
					</div>
				</div>
			</div>
			<br>
			<p class="form2">
				<button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
			</p>
			<br>
		</form>

	</div>

</body>
</html>
