@charset "UTF-8";

* {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro',
		'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック',
		'MS PGothic', sans-serif;
	font-size:medium;
	
}

.marquee {
    width: auto;
    padding-left: 100%;
    white-space: nowrap;

    animation-name: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes marquee {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-100%); }
}

.t1 {
	position:fixed;
	display:block;
	padding-top: 48px;
	padding-left: 48px;
	padding-bottom:24px;
	z-index:10000;
	background-color: rgba(255,255,255,0.5);
}

.t2 {
	padding-top:30px;
	padding-bottom:30px;
	
}


.t3{
	position:flex;
	padding-bottom:0px;
	
}

.bb{
	width:5%;
}

ul{
	list-style:none;
}

main{
	height:auto;
}



/*
 * サイドバー
 */
.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* ナビゲーションバーの背面 */
	padding: 48px 0 0; /* ナビゲーションバーの高さ */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	height:100vh;
}



@
supports ((position: -webkit-sticky ) or (position: sticky )) { .sidebar-sticky
	{ position:-webkit-sticky;
	position: sticky;
}

}
.sidebar .nav-link {
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
	color: inherit;
}
