<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="#">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="#">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="#">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">
				<div class="t1 col-md-12">
					<h1>申請待ちリスト（内容確認画面）</h1>
					&nbsp; <br /> <a href="/p4main"><button type="submit"
							class="btn btn-primary btn-lg">戻る</button></a>
				</div>
				<div class="t2" style="padding-top: 20%;">
					<div class="col-11 ml-5">
						<div class="card">
							<h5 class="card-header">企業名</h5>
							<div class="card-body">株式会社A</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">日時</h5>
							<div class="card-body">2019/1/1</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">受験場所</h5>
							<div class="card-body">東京都港区〇〇</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">試験内容</h5>
							<div class="card-body">１次試験</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">面接概要</h5>
							<div class="card-body">
								<p>面接官：３名</p>
								<p>面接時間：３０分</p>
							</div>
						</div>
						<br />
						<div class="card">
							<h5 class="card-header">質問内容</h5>
							<div class="card-body">
								<p>・志望動機を教えてください</p>
								<p>・学生時代力を注いだことを教えてください</p>
							</div>
						</div>
						<br/>
						<div align="center">
							<a href="/p4success"><button type="button"
									class="col-4 btn btn-outline-success btn-lg">承認</button></a>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="/p4success"><button type="button"
									class="col-4 btn btn-outline-danger btn-lg">拒否</button></a>
						</div>
					</div>
				</div>


			</main>
		</div>
	</div>
</body>
</html>